{% extends "base.html" %}
<!--  title -->
{% block title %}  {{ block.super }}   {% endblock %}
<!--  css -->
{% block css %}
    <style>
    </style>
{% endblock %}
<!--  内容 -->
{% block content %}
    <div class="panel panel-danger">
        <div class="panel-heading" style="background-color:#0367cc;color: white">
            <h3 class="panel-title">可视化</h3>
        </div>
        <div class="panel-body">
            <div id="container" style="height: 500px"></div>
        </div>
    </div>

  

{% endblock %}
<!--  js -->
{% block js %}
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/macarons.js"></script>
    <script type="text/javascript">
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom,'macarons');
        // 数据

        var data = [
            {'value': 1048, 'name': 'Search Engine'},
            {'value': 735, 'name': 'Direct'},
            {'value': 580, 'name': 'Email'},
            {'value': 484, 'name': 'Union Ads'},
            {'value': 300, 'name': 'Video Ads'}
        ]
        data = {{ data | safe }};

        var option;
        option = {
            tooltip: {
                trigger: 'item'
            },
            legend: {
                top: '5%',
                left: 'center'
            },
            series: [
                {
                    name: '',
                    type: 'pie',
                    radius: ['40%', '70%'],
                    // 是否玫瑰图
                    //roseType: 'area',
                    avoidLabelOverlap: false,
                    itemStyle: {
                        borderRadius: 10,
                        borderColor: '#fff',
                        borderWidth: 2
                    },
                    label: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        label: {
                            show: true,
                            fontSize: 40,
                            fontWeight: 'bold'
                        }
                    },
                    labelLine: {
                        show: false
                    },
                    data: data
                }
            ]
        };
        if (option && typeof option === 'object') {
            myChart.setOption(option);
        }
        //网页大小调整时，图表也调整
        window.addEventListener('resize', myChart.resize);
    </script>
{% endblock %}
